@model MagickyBoardGames.ViewModels.CategoryViewViewModel

<div>
    <form asp-action="Delete"  style="float: right">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />       
        </div>
    </form>
    @await Html.PartialAsync("_Info", Model.Category)
    @await Html.PartialAsync("_Games", Model.Games)    
</div>
<ul class="pager">
    <li><a asp-action="Index">Back to List</a></li>
</ul>
