@model MagickyBoardGames.ViewModels.CategoryListViewModel

<h2>Categories</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Categories) {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Description)
                    </a>
                </td>
                <td width="100px" style="text-align: right">
                    <table class="table-condensed">
                        <tr>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" title="Edit" class="fa fa-pencil fa-2x"></a>
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id" data-toggle="tooltip" title="Delete" class="fa fa-trash-o fa-2x" style="color: red"></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
