@model MagickyBoardGames.ViewModels.RatingListViewModel

<h2>Ratings</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Rate
            </th>
            <th>
                Short Description
            </th>
            <th class="visible-md visible-lg">
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ratings) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </a>
                </td>
                <td class="visible-md visible-lg">
                    @Html.DisplayFor(modelItem => item.LongDescription)
                </td>
            </tr>
        }
    </tbody>
</table>
