@using MagickyBoardGames.ViewModels
@model IEnumerable<MagickyBoardGames.ViewModels.CategoryViewModel>

<h4>Categories</h4>
<ul class="list-group">
    @foreach (var item in Model) {
        <li class="list-group-item">
            <a asp-controller="Category" asp-action="Details" asp-route-id="@item.Id">
                @Html.DisplayFor(modelItem => item.Description)
            </a>
        </li>
    }
</ul>
