@using Microsoft.AspNetCore.Identity
@using MagickyBoardGames.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User)) {
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <ul class="sidebar-nav navbar-inverse">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage"><h4><b>@UserManager.GetUserName(User)</b></h4></a>
            </li>
            <li><a asp-area="" asp-controller="Game" asp-action="Index">Games</a></li>
            <li><a asp-area="" asp-controller="Category" asp-action="Index">Categories</a></li>
            <li><a asp-area="" asp-controller="Player" asp-action="Index">Players</a></li>
            <li><a asp-area="" asp-controller="Rating" asp-action="Index">Ratings</a></li>
            <li>
                <button type="submit" class="btn btn-link" style="text-indent: -10px">Log off</button>
            </li>
        </ul>
    </form>
}
else {
    <ul class="sidebar-nav navbar-inverse">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        
        <li><a asp-area="" asp-controller="Game" asp-action="Index">Games</a></li>
        <li><a asp-area="" asp-controller="Category" asp-action="Index">Categories</a></li>
        <li><a asp-area="" asp-controller="Player" asp-action="Index">Players</a></li>
        <li><a asp-area="" asp-controller="Rating" asp-action="Index">Ratings</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
