@using MagickyBoardGames.ViewModels
@model IEnumerable<MagickyBoardGames.ViewModels.PlayerRatingViewModel>

<h4>Player Ratings</h4>
<ul class="list-group">
    @foreach (var item in Model) {
        <li class="list-group-item">
            <a asp-controller="Player" asp-action="Details" asp-route-id="@item.Id">
                @Html.DisplayFor(modelItem => item.PlayerName)
            </a>
            <span class="badge">
                @Html.DisplayFor(modelItem => item.Rating.Rate)
            </span>
        </li>
    }
</ul>
