@using MagickyBoardGames.ViewModels
@model IEnumerable<MagickyBoardGames.ViewModels.PlayerRatingViewModel>

<h4>Player Ratings</h4>
<table class="table">
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <a asp-controller="Player" asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.PlayerName)
                    </a>
                </td>
                <td>
                    <a asp-controller="Rating" asp-action="Details" asp-route-id="@item.Rating.Id">
                        @Html.DisplayFor(modelItem => item.Rating.Rate)
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
