@model MagickyBoardGames.ViewModels.PlayerViewViewModel

<h2>Details</h2>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Player.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Player.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Player.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Player.Email)
        </dd>
    </dl>
</div>
@await Html.PartialAsync("_Games", Model.Games)
@await Html.PartialAsync("_GamesRated", Model.GamesRated)

<div>
    <a asp-action="Index">Back to List</a>
</div>
