@model MagickyBoardGames.ViewModels.PlayerViewViewModel

<h2>Player Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Player.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Player.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Player.Email)
        </dd>
    </dl>
</div>
@await Html.PartialAsync("_Games", Model.Games)
@await Html.PartialAsync("_GamesRated", Model.GamesRated)

<ul class="pager">
    <li><a asp-action="Index">Back to List</a></li>
</ul>
