@model MagickyBoardGames.ViewModels.GameViewViewModel

<div>
    <form asp-action="Delete" style="float: right">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </form>
    @await Html.PartialAsync("_Info", Model.Game)
    @await Html.PartialAsync("_Categories", Model.Categories)
    @await Html.PartialAsync("_Owners", Model.Owners)
    @await Html.PartialAsync("_PlayerRatings", Model.PlayerRatings)
</div>
<ul class="pager">
    <li><a asp-action="Index">Back to List</a></li>
</ul>
