@model MagickyBoardGames.ViewModels.GameSaveViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Game</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Game.Id" />
        <div class="form-group">
            <label asp-for="Game.Name" class="col-md-3 control-label"></label>
            <div class="col-md-9">
                <input asp-for="Game.Name" class="form-control" />
                <span asp-validation-for="Game.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Game.Description" class="col-md-3 control-label"></label>
            <div class="col-md-9">
                <textarea  asp-for="Game.Description" class="form-control"></textarea>
                <span asp-validation-for="Game.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Game.PlayerRange" class="col-md-3 control-label"></label>
            <div class="col-md-1">
                <input asp-for="Game.MinPlayers" class="form-control" />
                <span asp-validation-for="Game.MinPlayers" class="text-danger"></span>
            </div>
            <div class="col-md-1 text-center">-</div>
            <div class="col-md-1">
                <input asp-for="Game.MaxPlayers" class="form-control" />
                <span asp-validation-for="Game.MaxPlayers" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
